name: Build and Push Multi-Platform Docker Images

on:
  push:
    branches:
      - "**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux/amd64
            runtime: linux-x64
          - platform: linux/arm/v7
            runtime: linux-arm
          - platform: linux/arm64
            runtime: linux-arm64

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Build and Package Application
        run: |
          dotnet publish ./EventHorizon/EventHorizon.csproj \
            -c Release \
            -r ${{ matrix.runtime }} \
            --self-contained false \
            -o ./output/${{ matrix.runtime }}

      - name: Determine channel
        id: channel
        shell: bash
        run: |
          if [ "${GITHUB_REF_NAME}" = "main" ]; then
            echo "channel=latest" >> $GITHUB_OUTPUT
          else
            echo "channel=beta" >> $GITHUB_OUTPUT
          fi

      - name: Compute build tag (channel-branch-sha)
        id: buildtag
        shell: bash
        run: |
          BRANCH_SAFE="$(echo "${GITHUB_REF_NAME}" | tr '/@' '--' | tr -cd '[:alnum:]._-' )"
          SHORT_SHA="${GITHUB_SHA::7}"

          if [ "${GITHUB_REF_NAME}" = "main" ]; then
             CHANNEL="latest"
          else
            CHANNEL="beta"
          fi

          echo "full_tag=${CHANNEL}-${BRANCH_SAFE}-${SHORT_SHA}" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and push arch images (with fixed tag)
        run: |
          docker buildx build \
            --platform ${{ matrix.platform }} \
            --build-arg PLATFORM=${{ matrix.runtime }} \
            --build-arg BUILD_TAG="${{ steps.buildtag.outputs.full_tag }}" \
            --provenance false \
            -f ./EventHorizon/Dockerfile \
            -t ghcr.io/rafmon/eventhorizon:${CHANNEL}-${{ matrix.runtime }} \
            -t ghcr.io/rafmon/eventhorizon:${{ steps.buildtag.outputs.full_tag }}-${{ matrix.runtime }} \
            --push .

  create-and-push-manifest:
    runs-on: ubuntu-latest
    needs: [build-and-push]

    steps:
      - name: Determine channel
        id: channel
        shell: bash
        run: |
          if [ "${GITHUB_REF_NAME}" = "main" ]; then
            echo "channel=latest" >> $GITHUB_OUTPUT
          else
            echo "channel=beta" >> $GITHUB_OUTPUT
          fi

      - name: Compute build tag (channel-branch-sha)
        id: buildtag
        shell: bash
        run: |
          BRANCH_SAFE="$(echo "${GITHUB_REF_NAME}" | tr '/@' '--' | tr -cd '[:alnum:]._-' )"
          SHORT_SHA="${GITHUB_SHA::7}"

          if [ "${GITHUB_REF_NAME}" = "main" ]; then
             CHANNEL="latest"
          else
            CHANNEL="beta"
          fi

          echo "full_tag=${CHANNEL}-${BRANCH_SAFE}-${SHORT_SHA}" >> $GITHUB_OUTPUT

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Push moving and fixed manifests
        run: |
          # moving
          docker manifest create ghcr.io/rafmon/eventhorizon:${CHANNEL} \
            --amend ghcr.io/rafmon/eventhorizon:${CHANNEL}-linux-x64 \
            --amend ghcr.io/rafmon/eventhorizon:${CHANNEL}-linux-arm64 \
            --amend ghcr.io/rafmon/eventhorizon:${CHANNEL}-linux-arm
          docker manifest push ghcr.io/rafmon/eventhorizon:${CHANNEL}

          # fixed
          docker manifest create ghcr.io/rafmon/eventhorizon:${{ steps.buildtag.outputs.full_tag }} \
            --amend ghcr.io/rafmon/eventhorizon:${{ steps.buildtag.outputs.full_tag }}-linux-x64 \
            --amend ghcr.io/rafmon/eventhorizon:${{ steps.buildtag.outputs.full_tag }}-linux-arm64 \
            --amend ghcr.io/rafmon/eventhorizon:${{ steps.buildtag.outputs.full_tag }}-linux-arm
          docker manifest push ghcr.io/rafmon/eventhorizon:${{ steps.buildtag.outputs.full_tag }}
