name: Build and Push Multi-Platform Docker Images

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - platform: linux/amd64
            runtime: linux-x64
          - platform: linux/arm/v7
            runtime: linux-arm
          - platform: linux/arm64
            runtime: linux-arm64

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "8.0.x"

      - name: Build and Package Application
        run: |
          dotnet publish ./EventHorizon/EventHorizon.csproj -c Release -r ${{ matrix.runtime }} --self-contained false -o ./output/${{ matrix.runtime }}

      - name: Determine channel tag
        id: channel
        shell: bash
        run: |
          if [ "${GITHUB_REF_NAME}" = "main" ]; then
            echo "tag=latest" >> $GITHUB_OUTPUT
          else
            echo "tag=beta" >> $GITHUB_OUTPUT
          fi

      - name: Log in to GitHub Container Registry
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and Push Docker Image
        if: github.event_name == 'push'
        run: |
          docker buildx create --use

          docker buildx build \
            --platform ${{ matrix.platform }} \
            --build-arg PLATFORM=${{ matrix.runtime }} \
            --provenance false \
            -f ./EventHorizon/Dockerfile \
            -t ghcr.io/rafmon/eventhorizon:${{ steps.channel.outputs.tag }}-${{ matrix.runtime }} \
            --push .

  create-and-push-manifest:
    runs-on: ubuntu-latest
    needs: [build-and-push]
    if: github.event_name == 'push'

    steps:
      - name: Determine channel tag
        id: channel
        shell: bash
        run: |
          if [ "${GITHUB_REF_NAME}" = "main" ]; then
            echo "tag=latest" >> $GITHUB_OUTPUT
          else
            echo "tag=beta" >> $GITHUB_OUTPUT
          fi

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Create and push multi-arch manifest
        run: |
          docker manifest create ghcr.io/rafmon/eventhorizon:${{ steps.channel.outputs.tag }} \
            --amend ghcr.io/rafmon/eventhorizon:${{ steps.channel.outputs.tag }}-linux-x64 \
            --amend ghcr.io/rafmon/eventhorizon:${{ steps.channel.outputs.tag }}-linux-arm64 \
            --amend ghcr.io/rafmon/eventhorizon:${{ steps.channel.outputs.tag }}-linux-arm

          docker manifest push ghcr.io/rafmon/eventhorizon:${{ steps.channel.outputs.tag }}
